Hello World!!
<button id="load" onClick="getAudioBuffer()">load!!</button>
<button id="btn" onClick="initSound()">init!!</button>
<button id="resume" onClick="resume()">resume!!</button>
<button id="suspend" onClick="suspend()">suspend!!</button>
<h2 id="state">Please load</h2>
<h2 id="network-message">ready</h2>

<button id="start" onclick="broadcast()">broadcast</button>
<script>
    var buffer;
    var req;
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    var context = new AudioContext();
    var source = context.createBufferSource();
    var state;
    var network_message;


    // Audio 用の buffer を読み込む
    var getAudioBuffer = function () {
        req = new XMLHttpRequest();
        // array buffer を指定
        req.responseType = 'arraybuffer';

        req.open('GET', "/<%= @file_name %>.mp3", true);
        req.send();
    };

    function broadcast() {
        App.ambient.start_signal();
    }


    // サウンドを再生
    App.playSound = function () {
//        initSound();
        network_message.textContent = "received signal";
        resume();
    };

    var initSound = function (){
        context.decodeAudioData(req.response, function (buffer) {
            source.buffer = buffer;
            source.loop = false;
            source.connect(context.destination);
            // 再生
            source.start(0);
            context.suspend();
            state.textContent = "ready";
        });
    };

    var resume = function () {
        context.resume();
        state.textContent = "playing";
    };

    var suspend = function () {
        context.suspend();
        state.textContent = "stop";
    };

    // main
    window.onload = function () {
        state = document.getElementById("state");
        var load_btn = document.getElementById('load');
        network_message = document.getElementById('network-message');
        // サウンドを読み込む
//        load_btn.onclick = loadAudio();
    };
</script>