Hello World!!
<button id="load" onClick="getAudioBuffer()">load!!</button>
<button id="btn" onClick="initSound()">init!!</button>

<script>
    var buffer;
    var req;

    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    var context = new AudioContext();
    var source = context.createBufferSource();


    // Audio 用の buffer を読み込む
    var getAudioBuffer = function () {
        req = new XMLHttpRequest();
        // array buffer を指定
        req.responseType = 'arraybuffer';

        req.open('GET', "/<%= @file_name %>.mp3", true);
        req.send();
    };


    // サウンドを再生
    App.playSound = function () {
        context.resume();
    };

    var initSound = function (){
        context.decodeAudioData(req.response, function (buffer) {
            source.buffer = buffer;
            source.loop = false;
            source.connect(context.destination);
            // 再生
            source.start(0);
            context.suspend();
        });
        console.log("sound_play");
    };

    // main
    window.onload = function () {
        var load_btn = document.getElementById('load');
        // サウンドを読み込む
//        load_btn.onclick = loadAudio();
    };
</script>